/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/src/LDM/MainBundle/Resources/public/data/
/web/dr_sasa/*
*php~
/web/bundles/
.*
!/.gitignore
!.gitkeep
!.htaccess*
/src/LDM/MainBundle/mr_toto/docs/*.json
*.txt
