/*#page-wrapper{*/
    /*margin-left: 0px;*/
/*}*/
.nav-image{
    margin-top: 3px;
    margin-left: 15px;
}
.header-text{
    font-size: large;
    vertical-align: middle;
    margin-left: 15px;
}

@media (max-width: 300px) {
    .body-small > div > div > div > nav > div > .header-text {
        display: none !important;
        z-index: 2002;
        position: fixed;
        width: 220px;
    }
}



.dashboard-header{
    margin: 0px !important;
}
.compact tbody tr td{
    padding:2px;
    /*height: 30px;*/
    /*padding: 15px;*/
    /*min-height: 60px;*/
}
/*.navbar-header{*/
    /*width: 400px;*/
/*}*/
/*.navbar-header > span{*/
    /*width: 200px;*/
/*}*/
/*.navbar-header > span > h2{*/
    /*width: 200px;*/
/*}*/
.white-text{
    color: white;
}
.collection{
    padding-left: 0px;
}
.collection>li{
    list-style: none;
}
.full-width{
    width: 100%;
}
nav .fa{
    width: 15px;
}

.select-section{
    cursor: pointer;
}

.footer{
    /*height: 100px;*/
    background: #fff;
    padding-top: 15px;
}
.footer-img{
    margin: 0 auto;
}
.footer p{
    color: #676a6c;
    margin: 0px;
    text-align: center;
}