{% extends "@LDMMain/baseUser.html.twig" %}

{% block main_header %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>
                <span class="text-navy">Contact</span>
            </h2>
            <ol class="breadcrumb">
                <li class="active">
                    <a href="{{ path('ldm_home') }}">Contact</a>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="ibox float-e-margins m-t-xl">
        <div class="ibox-content text-left p-lg">
            <address>
                Andreas Schüller, PhD.<br/>
                Email: <a href="mailto:aschueller@bio.puc.cl">aschueller@bio.puc.cl</a><br/>
                Phone office: +56 2 2354 1842<br/>
                Phone laboratory: +56 2 2354 2605<br/>
                <br/>
                LDM - Laboratory of Molecular Design<br/>
                6<sup>th</sup> floor, Building 210<br/>
                Dept. Molecular Genetics and Microbiology<br/>
                Facultad de Ciencias Biológicas, Casa Central, UC<br/>
                Alameda 340, 8331150 Santiago, Chile
            </address>

            <iframe src="https://maps.google.com/maps/ms?msa=0&amp;msid=207041472309630235224.0004c85bacc46baa912e8&amp;hl=en&amp;ie=UTF8&amp;ll=-33.441585,-70.639751&amp;spn=0,0&amp;t=h&amp;output=embed" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="425" height="350"></iframe>
            <br/><small>View <a style="color: #0000ff; text-align: left;" href="https://maps.google.com/maps/ms?msa=0&amp;msid=207041472309630235224.0004c85bacc46baa912e8&amp;hl=en&amp;ie=UTF8&amp;ll=-33.441585,-70.639751&amp;spn=0,0&amp;t=h&amp;source=embed">Laboratory of Molecular Design</a> in a larger map</small>

        </div>
    </div>
{% endblock %}
