{% extends "@LDMMain/base.html.twig" %}

{% block bodyclass %}md-skin fixed-sidebar fixed-nav{% endblock %}
{% block main %}
    <div id="wrapper">
        {% include '@LDMMain/sideNavigation.html.twig' %}
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                {% include "@LDMMain/navigation.html.twig" %}
            </div>
            {% block main_header %}{% endblock %}
            <div class="wrapper wrapper-content animated fadeInRight">
            {#<div class="wrapper wrapper-content animated fadeInRight">#}
                <div class="row">
                    <div class="col-lg-12">
                        {% include '@LDMMain/Default/flashMessages.html.twig' %}
                        {% block main_content %}{% endblock %}
                    </div>
                </div>
            </div>
            {#<div class="footer">#}
                {##}
            {#</div>#}
            <footer id="footer" class="row footer">
                <div class="container center-block col-xs-12">
                    <img src="{{asset('bundles/rockadevpreumain/img/maristas-logo-footer.png')}}" width="6%"  style="display: block; margin:auto">
                    <p></p>
                    <p></p>
                    <p class="text-muted">.</p>
                    <p>Optimizado para: Chrome 64 - Safari 10 - Firefox 58 - Internet Explorer 11</p>
                    <p>Desarrollado por SchuellerLab</p>
                    <p>Facultad de Ciencias Biológicas</p>
                    <p>Abril 2018</p>
                    <br/>
                </div>
            </footer>
        </div>
    </div>
{% endblock %}

