{% extends "@LDMMain/baseUser.html.twig" %}

{% block main_header %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>
                <span class="text-navy"><i>TargPred</i> - Running</span>
            </h2>
            <ol class="breadcrumb">
                <li class="active">
                    <a href="{{ path('ldm_targpred') }}">TargPred</a>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block wrapper_class %}article{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox float-e-margins m-t-xl">
                <div class="ibox-content text-left p-lg">
                    <div class="text-center article-title" style="margin-bottom:50px;">
                        <span class="text-center text-navy">
                            <h1><i>TargPred</i> - Running...</h1>
                        </span>
                    </div>
                    <p>
                        Your job has been submitted. To check whether your job has finished and to see your results
                        please access the following link:
                    </p>
                    <p>
                        <a href="{{ path('ldm_targpred_results', {'token': token}) }}">{{ app.request.getSchemeAndHttpHost() }}{{ path('ldm_targpred_results', {'token': token}) }}</a>
                    </p>
                    <p>Refreshing page...</p>
                    <div class="progress">
                        <div style="width: 0%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar" class="progress-bar progress-bar-success">
                            <span class="sr-only">0%</span>
                        </div>
                    </div>
                    <script>
                        setInterval(function(){
                            var value = parseInt($('.progress-bar').attr('aria-valuenow')) + 1;
                            $('.progress-bar').attr('aria-valuenow', value);
                            $('.progress-bar').width(value + '%');
                            if (value == 100) {
                                location.reload();
                            }
                        }, 200);
                    </script>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
