J. Ribeiro, C. Ríos-Vera, F. Melo, and A. Schüller (2019), Calculation of accurate interatomic contact surface areas for
the quantitative analysis of non-bonded molecular interactions. <i>Bioinformatics</i>, 35 (18), 3499-3501.</br>
<a href="https://doi.org/10.1093/bioinformatics/btz062" target="_blank">https://doi.org/10.1093/bioinformatics/btz062</a>.
